<nz-card nzTitle="Add Employee" style="padding: 10px; text-align: left;">
  <br>
  <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <div nz-row>
    <div nz-col nzSpan="10">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="name" nz-input type="text" [(ngModel)]= "addEmployee.name" placeholder="Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="10" nzOffset="4">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Mobile Number!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="mobNum" nz-input type="text" [(ngModel)]= "addEmployee.mobileNumber" placeholder="Mobile Number" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="10">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Email!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="email" nz-input type="email" [(ngModel)]= "addEmployee.email" placeholder="Email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="10" nzOffset="4">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Address!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="address" nz-input type="text" [(ngModel)]= "addEmployee.address" placeholder="Address" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="10">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Pay!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="pay" nz-input type="text" [(ngModel)]= "addEmployee.pay" placeholder="Pay" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="10" nzOffset="4">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Resume!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="resume" nz-input type="file"  placeholder="Resume"   (change)="handleCategoryBanner($event.target.files)" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="10"  >
      <nz-form-item>
          <!-- <nz-form-label nzFor="email">Departments</nz-form-label>
          <br> -->
          <nz-select name="salaryCode" formControlName="salaryCode" nzSize="large" [(ngModel)]="addEmployee.salaryCode" class="phone-select"
            nzPlaceHolder="Select a Salary Code" required>
            <nz-option *ngFor="let item of salaryCode" nzLabel={{item.code}} nzValue="{{item.id}}"></nz-option>
          </nz-select>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="10" nzOffset="4">
      <nz-form-item>
          <!-- <nz-form-label nzFor="email">Departments</nz-form-label>
          <br> -->
          <nz-select name="department" formControlName="department" nzSize="large" [(ngModel)]="addEmployee.department" class="phone-select"
            nzPlaceHolder="Select a Department" required>
            <nz-option *ngFor="let item of departments" nzLabel={{item.name}} nzValue="{{item.id}}"></nz-option>
          </nz-select>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="10" >
      <nz-form-item>
          <!-- <nz-form-label nzFor="email">Departments</nz-form-label>
          <br> -->
          <nz-select name="jobs" formControlName="jobs" nzSize="large" [(ngModel)]="addEmployee.job" class="phone-select"
            nzPlaceHolder="Select a Job" required>
            <nz-option *ngFor="let item of jobs" nzLabel={{item.jobCode}} nzValue="{{item.id}}"></nz-option>
          </nz-select>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="10" nzOffset="4" >
      <nz-form-item>
          <!-- <nz-form-label nzFor="email">Departments</nz-form-label>
          <br> -->
          <nz-select name="leavecode" formControlName="leavecode" nzSize="large" [(ngModel)]="addEmployee.leavecode" class="phone-select"
            nzPlaceHolder="Select a Leave Code" required>
            <nz-option *ngFor="let item of leaveCodes" nzLabel={{item.leaveCode}} nzValue="{{item.id}}"></nz-option>
          </nz-select>
      </nz-form-item>
    </div>
  </div>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" (click)="postEmployee()"  style="width: 70%; margin-left: 15%;">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
</nz-card>