<nz-card nzTitle="Add Employee" style="padding: 10px; text-align: left;">
  <br>
  <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <div nz-row>
    <div nz-col nzSpan="10">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="name" nz-input type="text" [(ngModel)]= "addEmployee.name" placeholder="Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="10" nzOffset="4">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Mobile Number!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="mobNum" nz-input type="text" [(ngModel)]= "addEmployee.mobileNumber" placeholder="Mobile Number" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="10">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Email!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="email" nz-input type="email" [(ngModel)]= "addEmployee.email" placeholder="Email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="10" nzOffset="4">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Address!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="address" nz-input type="text" [(ngModel)]= "addEmployee.address" placeholder="Address" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="10">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Pay!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="pay" nz-input type="text" [(ngModel)]= "addEmployee.pay" placeholder="Pay" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="10" nzOffset="4">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Resume!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="resume" nz-input type="file" [(ngModel)]= "addEmployee.resume" placeholder="Resume" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="10">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Allowances!">
          <nz-input-group nzPrefixIcon="">
            <input formControlName="allowances" nz-input type="text" [(ngModel)]= "addEmployee.allowances" placeholder="Allowances" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="10" nzOffset="4">
      <nz-form-item>
          <!-- <nz-form-label nzFor="email">Departments</nz-form-label>
          <br> -->
          <nz-select name="department" formControlName="department" nzSize="default" [(ngModel)]="addEmployee.department" class="phone-select"
            nzPlaceHolder="Select a Department" required>
            <nz-option *ngFor="let item of departments" nzLabel={{item.name}} nzValue="{{item.id}}"></nz-option>
          </nz-select>
      </nz-form-item>
    </div>
  </div>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" (click)="postEmployee()" [disabled]="!validateForm.valid" style="width: 70%; margin-left: 15%;">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
</nz-card>