<div  *ngIf="data" style="background-color:rgb(231, 231, 231); height: 100%;; " nz-row>
    <div nz-col nzSpan="6" style="background-color: rgb(239, 243, 247); border-right: royalblue;">

        <div style="width: 100%; text-align:center;">
            <nz-avatar *ngIf="!data.profile"  [nzSize]="140" nzIcon="user"></nz-avatar>
            <img *ngIf="data.profile" src={{data.profile}} alt="Avatar">


        </div>
        <div>
            <div *ngIf="data" style="text-align: center; ;color: rgb(87, 137, 230); font-size: 30px;">{{data.name.toUpperCase()}}</div>
            <div *ngIf="data" style="text-align: center; ;color: rgb(41, 98, 204); font-size: 15px;">{{data.job.jobTitle.toUpperCase()}}</div>
            <div *ngIf="data" style="text-align: center;margin-top: 30px;">
                <nz-card>
                    <div nz-card-grid [ngStyle]="gridStyle">At Work for:</div>
                    <div nz-card-grid [ngStyle]="gridStyle">{{year}} years  and {{days}} Days </div>

                </nz-card>
            </div>

            <hr style="margin-top: 30px;">

            <div *ngIf="data" style="text-align: center;margin-top: 30px;">
                <nz-card>
                    <div nz-card-grid [ngStyle]="gridStyle2"> <span style="font-size:xx-large;">0/28</span> <span
                            style="text-align:justify; font-size: xx-small;"> ATTENDANCE</span></div>
                    <div nz-card-grid [ngStyle]="gridStyle2"> <span style="font-size:xx-large;">0/25</span> <span
                            style="text-align:justify; font-size: xx-small;"> LEAVES</span></div>
                    <div nz-card-grid [ngStyle]="gridStyle2"> <span style="font-size:xx-large;">01</span> <span
                            style="text-align:justify; font-size: xx-small;"> AWARDS</span> </div>

                </nz-card>
            </div>


        </div>


    </div>
    <div  nz-col nzSpan="9">
        <div style="padding:30px; text-align: center;">
            <nz-card style="width:300px;" [nzBordered]="false" nzTitle="Personal Details" >
               <div nz-row >
                   <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);">  Name</span></div>
                   <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> {{data.name}}</span></div>
                   <hr >
                   
               </div>
               <div nz-row >
                <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);">  Father's Name</span></div>
                <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> {{data.fname}} </span></div>
                <hr >
                
            </div>


            <div nz-row >
                <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);"> Date of Birth</span></div>
                <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);">{{data.dob}} </span></div>
                <hr >
                
            </div>
            <div nz-row >
                <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);"> Gender</span></div>
                <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> Male </span></div>
                <hr >
                
            </div>

            <div nz-row >
                <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);"> Email</span></div>
                <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> {{data.email}} </span></div>
                <hr >
                
            </div>
            <div nz-row >
                <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);"> Phone</span></div>
                <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> {{data.mobileNumber}}</span></div>
                <hr >
                
            </div>
            <div nz-row  style="color: red; height: 10px;">
                <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);"> Address</span></div>
                <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> {{data.address}}</span></div>
                <hr >
                
            </div>

            
            </nz-card>
        </div>
        
    </div>
    <div  nz-col nzSpan="9">
        <div style="padding:30px; text-align: center;">
            <nz-card style="width:300px;" [nzBordered]="false" nzTitle="Attendance Record" >
               <div nz-row >
                   <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);">  Employee ID</span></div>
                   <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> 1 </span>{{data.id}}</div>
                   <hr >
                   
               </div>
               <div nz-row >
                <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);">  Department</span></div>
                <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> {{data.depart.name}} </span></div>
                <hr >
                
            </div>


            <div nz-row >
                <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);"> Designation</span></div>
                <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> {{data.job.jobTitle}} </span></div>
                <hr >
                
            </div>
            <div nz-row >
                <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);">    Salary Code</span></div>
                <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> {{data.salaryCode.code}} </span></div>
                <hr >
                
            </div>

            <div nz-row >
                <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);"> Leave Code</span></div>
                <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);">{{data.leaveCode.leaveCode}}</span></div>
                <hr >
                
            </div>
            <div nz-row >
                <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);"> Resume</span></div>
                <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> <a (click)="viewResume(data.id)">View</a></span></div>
                <hr >
                
            </div>
            <div nz-row  style="color: red; height: 10px;">
                <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);"> </span></div>
                <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> </span></div>
                <hr >
                
            </div>

            
            </nz-card>
        </div>
        <div  nz-col nzSpan="9">
            <div style="padding:30px; text-align: center;">
                <nz-card style="width:300px;" [nzBordered]="false" nzTitle="Attendance Details" >
                   <div nz-row >
                       <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);">  Total Presents</span></div>
                       <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> 1 </span>30</div>
                       <hr >
                       
                   </div>
                   <div nz-row >
                    <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);">  Total Leaves</span></div>
                    <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> 01 </span></div>
                    <hr >
                    
                </div>
    
    
                <div nz-row >
                    <div nz-col nzSpan="10"> <span style="font-size:medium; color: rgb(123, 123, 128);"> Total Absenties</span></div>
                    <div nz-col nzSpan="14"> <span style="font-size:medium; color: rgb(18, 17, 22);"> 2 </span></div>
                    <hr >
                    
                </div>
            
    
                
                </nz-card>
            </div>
        
    </div>

        
</div>





</div>


<div *ngIf="!data" style="margin-top: 10%; text-align: center; ">

    <nz-spin nzTip="Loading...">
      
      </nz-spin>
</div>

