<nz-layout class="layout">
    <nz-sider>
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-submenu nzTitle="Employee" nzIcon="user">
            <ul>
             <span (click)="navigateToAddComponent()" > <li nz-menu-item>Add Employee</li></span>
              <span (click)="navigateToListComponent()"> <li nz-menu-item > List Employee</li></span>
              <!-- <li nz-menu-item></li> -->
            </ul>
          </li>
          <li nz-submenu nzTitle="Department" nzIcon="border-outer">
            <ul>
             <span (click)="navigateToAddDepartment()" > <li nz-menu-item>Add Department</li></span>
              <span (click)="navigateToListDepartment()"> <li nz-menu-item > List Department</li></span>
              <!-- <li nz-menu-item></li> -->
            </ul>
          </li>
          <li nz-submenu nzTitle="Job" nzIcon="border-outer">
            <ul>
             <span (click)=" navigateToAddJob()" > <li nz-menu-item>Add Job</li></span>
              <span (click)="navigateToListJob()"> <li nz-menu-item > List Job</li></span>
              <!-- <li nz-menu-item></li> -->
            </ul>
          </li>
        <li nz-menu-item>
          <i nz-icon nzType="upload"></i>
          <span>nav 3</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="bar-chart"></i>
          <span>nav 4</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="cloud-o"></i>
          <span>nav 5</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="appstore-o"></i>
          <span>nav 6</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="team"></i>
          <span>nav 7</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="shop"></i>
          <span>nav 8</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="right-layout">
      <nz-header></nz-header>
      <nz-content>
        <div class="inner-content">
         <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>