<h3>List Of Employees</h3>
<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Address</th>
       
        <th>Resume</th>
    
        <th>Department</th>
        <th>Job Code</th>
        <th>Leave Code</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.mobileNumber }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.address}}</td>
       
        <td> <a  (click)='ViewResume(data)' style="color:blueviolet">View</a></td>
       
        <td>{{ data.depart.name}}</td>
        <td>{{ data.job.jobCode}}</td>
        <td>{{data.leaveCode.leaveCode}}</td>
        <td>
          <span (click)="editEmployee(data.id)">  <a>Edit</a></span>
          &nbsp; | &nbsp; 
         <span (click)="deleteEmployee(data.id)">   <a>Delete</a></span>
          </td>
      </tr>
    </tbody>
    

  </nz-table>