<nz-card nzTitle="Add Job" style="padding: 10px; text-align: left;">
    <br>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div nz-row>
      <div nz-col nzSpan="10">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Job Code!">
            <nz-input-group nzPrefixIcon="">
              <input formControlName="jobcode" nz-input type="text" [(ngModel)]= "addjob.jobcode" placeholder="Job Code" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="10" nzOffset="4">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Job Title !">
            <nz-input-group nzPrefixIcon="">
              <input formControlName="jobtitle" nz-input type="text" [(ngModel)]= "addjob.jobtitle" placeholder="Job Title" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  
    <div nz-row>
      <div nz-col nzSpan="10">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Job Role!">
            <nz-input-group nzPrefixIcon="">
              <input formControlName="jobrole" nz-input type="text" [(ngModel)]= "addjob.jobrole" placeholder="Job Role" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
  
      <div nz-col nzSpan="10" nzOffset="4">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Job Duties!">
            <nz-input-group nzPrefixIcon="">
              <input formControlName="jobduties" nz-input type="text" [(ngModel)]= "addjob.jobduties" placeholder="Job Duties" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  
    <div nz-row>
      <div nz-col nzSpan="10">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Job Description!">
            <nz-input-group nzPrefixIcon="">
              <input formControlName="jobdescription" nz-input type="text" [(ngModel)]= "addjob.jobdescription" placeholder="Job Description" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  
      
  
    
      
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" (click)="postJob()" [disabled]="!validateForm.valid" style="width: 70%; margin-left: 15%;">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  </nz-card>