<h3>List Of Jobs</h3>
<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>ID</th>
        <th>Job Code</th>
        <th>Job Title</th>
        <th>Job Role</th>
        <th>Job Duties</th>
        <th>Job Description</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.jobcode }}</td>
        <td>{{ data.jobtitle }}</td>
        <td>{{ data.jobrole }}</td>
        <td>{{ data.jobduties}}</td>
        <td>{{ data.jobdescription }}</td>
        <td>
          <span (click)="editJob(data.id)">  <a>Edit</a></span>
          &nbsp; | &nbsp; 
         <span (click)="deleteJob(data.id)">   <a>Delete</a></span>
          </td>
      </tr>
    </tbody>
  </nz-table>